<div class="container">
    <% if @response.dig(:verses).empty? %>
        <p> Não foi possível achar resultado para esta pesquisa! </p>
    <% end  %>

    <table class="search-response">
        <% @response.dig(:verses).each do |item| %>
            <tr>
                <td>
                    <%= sanitize_response(item) %>
                </td>
            </tr>
        <% end %>
    <table>
</div>
