<div class="container">
    <table class="search-response">
        <% @response.each do |item| %>
            <tr>
                <td>
                    <%= sanitize_response(item) %>
                </td>
            </tr>
        <% end %>
    <table>
</div>
