<div class="container">
    <div class="row">
        <div class="col">
            <div class="container-h-80 d-flex justify-content-center align-items-center">
                <%= form_with url: search_index_path, method: :get, class: "search-form" do |form| %>
                    <div class="input-group">
                        <%= form.text_field :query, placeholder: 'Ex: Nínive', class: "form-control input-search" %>
                        <%= form.submit 'Pesquisar', id: "search-button", class: "btn btn-outline-secondary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
