<%= form_with url: search_index_path, method: :get do |form| %>
    <%= form.label :query, 'Pesquise pelo trecho: ' %>
    <%= form.text_field :query %>
    <%= form.submit 'Pesquisar' %>
<% end %>

<p>
    Este projeto tem como objetivo listar referências bíblicas de trechos informados no formulário.
    Projeto ainda está em desenvolvimento e em teste.
</p>

